<h2>movie list</h2>

<a href="/celebrities/create">create a new celebrities</a>
<ul>
  {{#each all}}
    <li>
      <p>name: {{name}}</p>
      <p>occupation: {{occupation}}</p>
      <p>catch phrase: {{catchPhrase}}</p>

    </li>
  {{/each}}
</ul>